<html>
    <center>
    <nav>
        <a href="">Home</a>
       
        <a href="">Create Post</a>
      
        <a href=""> View Posts</a>
    </nav>
</center>

<br>
<br>
    <center>

    <form action="blog" method="post">

        <input type="text" name="title" id="title" placeholder="Enter title">
        <br>
        <br>
        <input type="text" name="content" id="content" placeholder="Post body">
        <br>
        <br>
        <input type="email" name="author" placeholder="author" placeholder="Author">
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
</center>


</html>